{% extends 'base.html' %}

{% block conteudo %}
<div class="login-container">
    <div class="login-box">
        <div class="perfil-icon"></div>

        <form id="form-login" class="d-flex flex-column" action="{{ url_for('login')}}" method="post">
            <input id="input-email" type="text" name="form-email" placeholder="mail@" class="login-input">

            <input id="input-senha" type="password" name="form-senha" placeholder="senha" class="login-input form-control">

            <button type="submit" class="btn-login">Log in</button>
            <a class="btn btn-danger my-2" onclick="limpaInputslogin()">Cancelar</a>
        </form>

        <div style="margin-top: 15px;">
            <a href="{{ url_for('cadastro_funcionario')}}" style="color: #666; font-size: 14px; text-decoration: none;">
                <div class="modal-body">
                   Não tem conta? Cadastrar
                </div>

            </a>
        </div>

    </div>
</div>
{% endblock %}